{% extends "base.html" %}

{% block title %}{{ cat.description }}{% endblock %}

{% block content %}
<main role="main" class="container">
  <h1>Will this make it to the live website?</h1>
  <div>
    <ol class="breadcrumb">
      {% block crumbs %}
      {% for crumb in crumbs %}
      {{ crumb | safe}}
      {% endfor %}
      {% endblock %}
    </ol>
  </div>
  <div class="catalog">

    {% block name %}
    <h2>{{ cat.name }}</h2>
    <p class="description">{{ cat.description }}</p>
    <pre><code>{{ cat.path }}</code></pre>
    {% endblock %}

    {% block catalogs %}
    <h3>Child Catalogs</h3>
    <div class="list-group">
      {% for item in cat._entries %}
      {% if cat[item].container == "catalog" %}
      <a  href="{{ url }}/{{ item }}" class="list-group-item">
        <h4>{{ item }}</h4>
        <p class="description">{{ cat[item].description }}</p>
      </a>
      {% endif %}
      {% endfor %}
    </div>
    {% endblock %}

    <h3>Datasets</h3>
    <div class="list-group">
      {% block datasets %}
      {% for item in cat._entries %}
      {% if cat[item].container == "xarray" %}
      <a  href="{{ url }}/{{ item }}" class="list-group-item">
          <h4>{{ item }}</h4>
          <p class="description">{{ cat[item].description }}</p>
      </a>
      {% endif %}
      {% endfor %}
      {% endblock %}
    </div>
  </div>
</main>
{% endblock%}
