{% extends "base.html" %}

{% block title %}{{ cat.description }}{% endblock %}

{% block content %}
<main role="main" class="container">
  <h1>{{ cat.name }}</h1>
  <div>
    <ol class="breadcrumb">
      {% for crumb in crumbs %}
      {{ crumb | safe}}
      {% endfor %}
    </ol>
  </div>
  <div class="catalog">

    <h2>{{ cat.description }}</h2>

    <h3>Load in Python</h3>
    <pre><code class="language-python">from intake import open_catalog<br>
cat = open_catalog("{{ cat.path }}")
list(cat)</code></pre>

    {% if catalogs %}
    <h3>Child Catalogs</h3>
    <div class="list-group">
      {% for item in cat|sort %}
      {% if cat[item].container == "catalog" %}
      <a href="{{ url_for('browse', path='%s/%s' % (path, item)) }}" class="list-group-item">
        <h4>{{ item }}</h4>
        <p class="description">{{ cat[item].description }}</p>
      </a>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    {% if datasets %}
    <h3>Datasets</h3>
    <div class="list-group">
      {% for item in cat|sort %}
      {% if cat[item].container in ["xarray", "dataframe"] %}
      <a href="{{ url_for('browse', path='%s/%s' % (path, item)) }}" class="list-group-item">
        <h4>{{ item }}</h4>
        <p class="description">{{ cat[item].description }}</p>
      </a>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
</main>
{% endblock%}
