{% extends "base.html" %}

{% block title %}{{ cat._description }}{% endblock %}

{% block content %}
<main role="main" class="container">
  <h1>{{ cat._name }}</h1>
  <div>
    <ol class="breadcrumb">
      {% for crumb in crumbs %}
      {{ crumb | safe}}
      {% endfor %}
    </ol>
  </div>

  <div class="info">
    <h2>{{ cat._description }}</h2>

    <h3>Load in Python</h3>
    <pre><code class="language-python">from intake import open_catalog<br>
cat = open_catalog("{{ cat.catalog_object.path }}")
ds  = cat["{{ cat._name }}"].to_dask()</code></pre>

    <h3>Metadata</h3>
    <table class="table table-condensed table-hover">
      <tbody>
        {% for data in cat._metadata %}
        <tr>
          <td>{{ data }}</td>
          <td>{{ cat._metadata[data] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="xarray">
    <h3>Dataset Contents</h3>
    <div class="xarray-repr">
      {% if cat._container == "dataframe" %}
      {{ cat.to_dask().to_html() | safe }}
      {% elif cat._container == "xarray" %}
      {{ cat.to_dask()._repr_html_() | safe }}
      {% endif %}
    </div>
  </div>

</main>
{% endblock %}
