{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='jquery.json-viewer.js')}}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='papaparse.min.js')}}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='make-grid.js')}}" charset="utf-8"></script>
<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#json-renderer').jsonViewer({{ json | safe }}, {
      collapsed: true,
      rootCollapsable: false
    });
    {% if 'catalog_file' not in json %}
    Papa.parse("{{ cat.df.to_csv(index=False, line_terminator='\\n').replace('"', '') }}", {
      header: true,
      complete: function(results) {
        console.log(results);
        makeGrid(results);
      }
    });
    {% else %}
    Papa.parse("{{ json["catalog_file"] | safe }}", {
      download: true,
      header: true,
      complete: function(results) {
        makeGrid(results);
      }
    });
    {% endif %}
  });
</script>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<link href="{{url_for('static', filename='jquery.json-viewer.css')}}" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
{% endblock %}

{% block title %}{{ cat._description }}{% endblock %}

{% block content %}
<main role="main" class="container">
  <h1>{{ cat._name }}</h1>
  <div>
    <ol class="breadcrumb">
      {% for crumb in crumbs %}
      {{ crumb | safe}}
      {% endfor %}
    </ol>
  </div>
  <div class="info">

    <h2>{{ cat._description }}</h2>

    <h3>Load in Python</h3>
    <pre><code class="language-python">from intake import open_catalog<br>
cat = open_catalog("{{ cat.catalog_object.path }}")
ds  = cat.{{ cat._name }}()</code></pre>
    
    <h3>Working with requester pays data</h3>
    Several of the datasets within the cloud data catalog are contained in <a href="https://cloud.google.com/storage/docs/requester-pays">requester pays</a> storage buckets.
    This means that a user requesting data must provide their own billing project (created and authenticated through Google Cloud Platform) to be billed for the charges associated with accessing a dataset.
    To set up an GCP billing project and use it for authentication in applications:
    <ul>
      <li><a href="https://cloud.google.com/resource-manager/docs/creating-managing-projects#creating_a_project">Create a project on GCP</a>; if this is the first time using GCP, a prompt will appear to choose a Google account to link to all GCP-related activities.</li>
      <li><a href="https://cloud.google.com/billing/docs/how-to/manage-billing-account#create_a_new_billing_account">Create a Cloud Billing account</a> associated with the project and <a href="https://cloud.google.com/billing/docs/how-to/modify-project#enable_billing_for_a_project">enable billing for the project</a> through this account.</li>
      <li>Using <a href="https://cloud.google.com/iam/docs/granting-changing-revoking-access#granting-console">Google Cloud IAM</a>, add the <strong>Service Usage Consumer</strong> role to your account, which enables it to make billed requests on the behalf of the project.</li>
      <li>Through command line, install the <a href="https://cloud.google.com/sdk">Google Cloud SDK</a>; this can be done using conda:
        <pre><code>conda install -c conda-forge google-cloud-sdk</code></pre>
      </li>
      <li>Initialize the <code>gcloud</code> command line interface, logging into the account used to create the aforementioned project and selecting it as the default project; this will allow the project to be used for requester pays access through the command line:
        <pre><code>gcloud auth login
gcloud init</code></pre>
      </li>
      <li>Finally, use <code>gcloud</code> to establish application default credentials; this will allow the project to be used for requester pays access through applications:
        <pre><code>gcloud auth application-default login</code></pre>
      </li>
    </ul>

    <h3>Metadata</h3>
    <pre id="json-renderer"></pre>
  </div>

  <div class="xarray">
    <h3>Dataset Contents</h3>
    <div style="display: flex; flex-direction: row">
      <div style="overflow: auto; flex-grow: 1">
        <div id="myGrid" class="ag-theme-balham" style="height: 600px; width: 100%;"></div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
