{% extends "base.html" %}

{% block title %}Sample Catalog Name{% endblock %}

{% block content %}
<main role="main" class="container">

<h1>Pangeo Catalog</h1>

<div>
  <ol class="breadcrumb">
    {% block crumbs %}
    <li><a href="#">Sample</a></li>
    <li><a href="#">Bread</a></li>
    <li class="active">Crumbs</li>
    {% endblock %}
  </ol>
</div>

<div class="catalog">

  <h2>{% block name %}Sample Catalog Name{% endblock %}</h2>
  <h3>Child Catalogs</h3>
  <ul class="list-group">
    {% block catalogs %}
    {% endblock %}
  </ul>
  <h3>Datasets</h3>
  <ul class="list-group">
    {% block datasets %}
    {% endblock %}
  </ul>

</div>

</main><!-- /.container -->
{% endblock%}
